/* * { border: 1px solid black; } */

/* HTML */	

	body {
		font-family: "Raleway", sans-serif;
		font-size: 20px;
		font-weight: 400;
		line-height: 1.8;
		margin: 0;
		text-align: left;
	}

	h1 {
		font-size: 51.2px;
		font-weight: 900;
		color: #212529;
		margin: 0;	
	}

	h2 {
		font-size: 40px;
		font-weight: 900;
		color: #212529;
		margin: 0;	
	}

	h3 {
		font-size: 24px;
		font-weight: 900;
		color: #212529;
		margin: 0;	
	}

	p {
		font-size: 20px;
		font-weight: 400;
		color: #212529;

	}

	figcaption {
		display: block;
		font-style: italic;
	}

/* FOOTER */

	.my-footer {
		background-color: #333333;
		display: flex;
		justify-content: space-between;
		text-align: center;
	}

	.copyright {
		color: #ffffff;
		margin-left: 24px;
	}

	.footer-links {
		margin-right: 24px;
		margin-top: 16px;
	}

	.email, .linked-in {
		padding-right: 10px;
	}

/* Nav Bar */
	header {
		padding: 4px;
  		background-color: #4c212c;
  		display: flex;
  		align-items: center;
  		z-index: 100;
  		position: fixed;
  		width: 100%;
  		justify-content: space-between;
	}

	.menu-toggle {
		margin-right: 24px;
		display: none;
	}

	.bar1, .bar2, .bar3 {
	    width: 35px;
	    height: 5px;
	    background-color: #ffffff;
	    margin: 6px 0;
	    transition: 0.4s;
	}

	/* sidenav */

		.sidenav {
		    height: 220px;
		    width: 0;
		    position: fixed;
		    z-index: 1;
		    right: -20px;
			background-color: #4c212c;
		    overflow-x: hidden;
		    padding-top: 60px;
		    transition: 0.5s;
		    border-left: 10px solid #333;
		    border-bottom: 10px solid #333;
		}
		 
		.sidenav a {
		    padding: 8px 8px 8px 32px;
		    text-decoration: none;
			font-weight: 400;
		    display: block;
		    transition: 0.3s;
		    white-space: nowrap;
		    color: #ffffff;
		}
		 
		.sidenav a:hover, .offcanvas a:focus {
		    color: #000;
		}

		.links a:hover {
			text-decoration: underline;
		}

		.links p {
			font-weight: 700;
			line-height: 0;
		}
		 
		.sidenav .closebtn {
		    position: absolute;
		    top: 0;
		    right: 40px;
		    font-size: 64px;
		}

	.logo {
		margin-left: 16px;
		margin-top: 10px;
		float: left;
	}

	.logo-hr {
		margin-left: 16px;
		margin-top: 11px;
		font-size: 24px;
		color: #ffffff;
		text-decoration: none;
		text-align: center;
		float: right;
	}

	.logo-hr-link {
		
	}

	.portfolio-logo {
		height: 42px;
	}

	.nav-links {
		list-style: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		text-align: right;
		float: right;
		margin-right: 16px;
	}

	.nav-links li {
		display: inline-block;
	}

	.nav-link {
		padding: 12px;
		text-decoration: none;
		color: #ffffff;
	}

	.nav-link:hover{
		background-color: #ffffff;
		color: #333333;
	}

	.img-fluid {
		display: block;
		width: 90%;
		height: auto;
	}

/* GRID */

/* ABOUT ME PAGE */

	.about-hero {
		display: grid;
		grid-template-columns: 150px auto 150px;
		background-image: url('../images/about-hero-img.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		justify-content: center;
		text-align: center;
		box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
	}

	.hero-container {
		grid-row: 1;
		grid-column: 2/3;
		margin-top: 100px;
		padding: 50px 0 50px 0;
	}

	.about-hero-hr {
		margin-top: 60px;
		font-size: 60px;
	}

	.avatar-img {
		margin-top: 32px;
	}

	.about-content {
		display: grid;
		grid-template-columns: 300px auto 300px;
		grid-gap: 16px;
	}

	.main, .skills-tools, .connect {
		grid-row: 1;
		grid-column: 2/3;
	}

	.skills-tools {
		grid-row: 2;
	}

	.skills {
		float: left;
	}

	.tools {
		float: right;	
	}

	.connect {
		display: grid;
		grid-template-columns: 200px auto 200px;
		grid-gap: 16px;
	}

	.connect-container {
		grid-column: 2;
		text-align: center;
		margin-bottom: 32px;
	}


/* MEDIA QUERIES */
	@media screen and (min-width: 320px) {
		.about-content, .connect {
			grid-template-columns: 20px auto 20px;
		}

		h1 {
			font-size: 45.2px;
		}

		.skills, .tools {
			float: none;
		}
	}

	@media screen and (max-width: 320px) {
		.logo-hr {
			display: none;
		}
	}

	@media screen and (min-width: 535px) {
		.about-content, .connect {
			grid-template-columns: 50px auto 50px;
		}
	}

	@media screen and (max-width: 556px) {
		.about-hero-hr {
			margin-top: 0;
		}
	}

	@media screen and (min-width: 600px) {
		.about-content, .connect {
			grid-template-columns: 100px auto 100px;
		}
	}

	@media screen and (max-width: 660px) {
		
		/* Make hamburger menu appear at this screen width or lower*/
		.menu-toggle {
			display: block;
		}

		.links {
			list-style: none;
			margin-top: 110px;
		}

		.side-link-1 {

		}

		.closebtn {
			position: relative;
			margin-top: 81px;
		}

		.nav-links {
			display: none;
		}

	}

	@media screen and (min-width: 768px) {
		.about-content {
			grid-template-columns: 100px auto 80px;
		}

		.skills {
			float: left;
			margin-left: 36px;
		}

		.tools {
			float: right;
			margin-right: 36px;
		}

		.connect {
			grid-template-columns: 200px auto 200px;
		}
	}

	@media screen and (min-width: 826px) {
		.about-content {
			grid-template-columns: 120px auto 120px;
		}
	}

	@media screen and (min-width: 897px) {
		.about-content {
			grid-template-columns: 150px auto 150px;
		}
	}


	@media screen and (min-width: 958px) {
		.about-content {
			grid-template-columns: 180px auto 180px;
		}

		.connect {
			grid-template-columns: 290px auto 290px;
		}
	}

	@media screen and (min-width: 975px) {
		.connect {
			grid-template-columns: 280px auto 280px;
		}
	}

	@media screen and (min-width: 1056px) {
		.connect {
			grid-template-columns: 300px auto 300px;
		}
	}

	@media screen and (min-width: 1145px) {
		.about-content {
			grid-template-columns: 290px auto 290px;
		}
	}

	@media screen and (min-width: 1170px) {
		.connect {
			grid-template-columns: 350px auto 350px;
		}
	}

	@media screen and (min-width: 1242px) {
		.about-content {
			grid-template-columns: 330px auto 330px;
		}
	}

	@media screen and (min-width: 1269px) {
		.connect {
			grid-template-columns: auto 400px auto;
		}
	}